body {
    font-family: 'Mukta', sans-serif;
    margin: 0px;
}

.experience {
    font-size: 50px;
    padding-left: 70px;
    color: green;


}

h1 {
    font-size: 40px;
}

.color {
    color: orange;
}

.flexible-container {
    display: flex;
    padding-left: 5%;
    margin-bottom: 30px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width img {
    width: 80%;
    padding-left: 7%;
    padding-top: 13%;

}

.half-width {
    width: 100%;


}

.link-btn {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
    border-radius: 5px;


    box-shadow: 10px 10px 30px gray;


}


#full-stack {
    border-left: 5px solid tomato;
}

#baby-stack {
    border-left: 5px solid blue;
}

footer p {
    text-align: center;
}